a{
  display: inline-block;
  text-decoration: none;
  font-size: 11px;
  padding: 10px;
}

button{
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

body{
  width: 100vw;
  font-family: arial, sans-serif;
  background-color: #EAEAEA;
}

.section{
  position: relative;
  width: 100%;
  text-align: center;
}

.chart-logo{
  width: 100%;
}

.start-button{
  position: relative;
  margin: 0 auto;
  margin-top: -40vh;
}

.start-button img{
  display: block;
  width: 17vw;
}

.start-button img{
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  -ms-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
  transition: 0.3s;
}

.start-button img:hover{
  transform: scale(1.3);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

.start-text{
  font-size: 40px;
  color: #C1272D;
}

.button-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.shadow-img{
  display: block;
  width: 17vw;
  margin: 0 auto;
}

.slide a{
  position: relative;
}

.slide-title{
  font-size: 34px;
  border-bottom: 1px solid #000;
}

.select-button{
  position: relative;
  width: 15vw;
  margin: 0 5vw;
}

.select-button:hover{
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  -ms-animation: spin 15s linear infinite;
  -o-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}

.select-button + p{
  font-size: 20px;
}

.red-button + p{
  color: #C1272D;
}

.blue-button + p{
  color: #284CBF;
}

.green-button + p{
  color: #60BC2A;
}

.result-p{
  font-size: 30px;
  position: absolute;
  top: 20vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.busho{
  font-size: 65px;
}

.return-button{
  z-index: 999;
  position: absolute;
  top: 60vh;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 80px;
  padding-bottom: 80px;
  border-bottom: solid 5px #68141A;
  border-radius: 17px;
}

.return-button img{
  width: inherit;
  height: inherit;
}

.return-button:active{
  -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.return-text{
  font-size: 27px;
  width: inherit;
  color: #fff;
}
